@media only screen and (max-width: 770px) {
  .bloc-3-background {
    background-image: none !important;
  }
  .nav-bloc1-color {
    background: none !important;
  }
  .bloc-icons {
    width: 100% !important;
  }
  .bandeau-creme {
    background:#F2EADA !important;
  }
  .nav-link1 {
    color: rgba(0, 0, 0, 0.55)!important;
    padding-right:0px !important ;
    padding-bottom:15px;
  }
  .subtext-bloc1 {
    color: black !important;
  }
  .bloc3-margin-text {
    margin-left: 0px !important;
  }

  .nav-link1:hover {
    color: black !important;
  }

  .padding-right-suppliers-bloc1 {
    padding-right: 0px !important;
  }

  .btn-custom-newsletter {
    border-radius: 50px 50px 50px 50px !important;
  }

  .newsletter-input {
    border-radius : 50px 50px 50px 50px !important;
    margin-bottom: 15px !important;
  }

  .btn-custom-bloc1 {
    display:flex !important;
    margin:auto !important;
  }
}

body {
  font-family: 'Lato', sans-serif !important;
}

nav {background-color:#FDF7F2 !important}

p {
  text-align:justify;
}

.btn-custom {
  color:#FDF7F2;
  background-color:#036B61;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 15px 30px;
  min-height: 38px;
  border: none;
  text-decoration: none;
  transition: background-color .17s ease,color .17s ease;
}

.btn-custom-bloc1 {
  color:#FDF7F2;
  background-color:#036B61;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 15px 30px;
  min-height: 38px;
  border: none;
  text-decoration: none;
  transition: background-color .17s ease,color .17s ease;
}

.nav-link:hover {
  color:bcbcbc !important;
}

.button-navbar:hover {
  background-color:#d86d3e !important;
}

.btn-custom:hover {
  color:#FDF7F2;
  background-color: #00544b;}

.btn-custom-bloc1:hover {
  background-color: #00544b;
}

.petit-trait {
  background-color: #036B61;
  width: 70px;
  height: 5px;
}

.card-text {
  font-weight:300;
}

.fw-200 {
  font-weight: 200;
}

.card-custom {
  background-color :#F2EADA;
  height: 100%;
  width: 100%;
  color: white;
  padding: 25 25 35 25;
  border-radius: 50px;
  position:relative;
  color:black !important;
}

.card-custom-suppliers {
  background-color :#F2EADA;
  height: 100%;
  width: 100%;
  color: white;
  padding: 25 25 35 25;
  border-radius: 50px;
  position:relative;
  color:black;
}

.card-custom-suppliers-bloc2{
  background-color :#F2EADA;
  height: 100%;
  width: 100%;
  color: white;
  padding: 25 25 35 25;
  border-radius: 50px;
  position:relative;
  color: black !important;
}

.card-title-custom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title-custom-suppliers {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align:center;
}


.card-link-custom {
  color: white;
  text-decoration:none;
}

.card-logo-rond {
  border: 2px solid #036B61;
  text-align:center;
  background-color:white;
  border-radius:50px;
  height: 85px;
  width:85px;
  position:absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-logo-rond-suppliers {
  border: 5px solid #036B61;
  text-align:center;
  background-color:white;
  border-radius:50px;
  height: 85px;
  width:85px;
  position:absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-bloc {
  font-size:60px;
  line-height:1.1em;
  font-weight:700;
  margin-bottom:80px;
  text-align:center;
}

.title-bloc1 {
  font-size:60px;
  line-height:1.1em;
  font-weight:700;
  margin-bottom:50px;
}

h1 {
  font-weight:700 !important;
}

h2 {
  margin: 30 0;
}

.navbar {
  background-color:inherit !important;
  padding: 20 0 !important;
}

.nav-bloc1-color{
  background: linear-gradient(90deg, #FFFFFF 50%,  #036b61 50%);
}

.nav-link1 {
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    padding-right: 20px;
    color: white;
    text-align:center;
}

.nav-link1:hover {
  color: #bcbcbc;
}

.button-navbar {
  background-color :#FA8A58 !important;
}

.bandeau-creme {
  background: linear-gradient(90deg, #F2EADA 50%,  #036b61 50%);
}

.icons-bloc1 {
  width:50px;
  border-radius: 50px;
}


.bloc-icons {
  width:45%;
  padding: 50 0;
}

.img-bloc1 {
  width: 100%;
}

.margin-top-bot {
  margin: 80px 0;
}

.bloc-3-background {
  background: url(images/vector.svg) no-repeat;
  background-position-x: center;
  background-position-y: 60%;
}

.img-bloc3 {
  height: 400px !important;
  border-radius: 50px;
}

.bloc3-icon {
  width: 18px;
  text-align: center;
  margin-right: 10px;
}

.bloc3-text {
  font-weight:300;
  margin: 20px 0px 30px 0px;
  text-align:justify;
}

p {
  font-weight: 300;
}

.bloc1-center-div-right {
  padding: 5% 5%;
  position:relative;
  top: 50px;
}

.icons-bloc2 {
  width: 50px;
}

.bloc2-display {
  margin-top:80px;
}

.bloc2-card-margin {
  margin-bottom: 60px;
}

.bloc3-margin-text {
  margin-left: 30px;
}

.title-bloc4 {
    font-size: 40px;
    line-height: 1.1em;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.newsletter-content {
  background-color: #F2EADA;
  border-radius: 100px 100px 0 0;
  padding: 50px 10%;
}

.text-newsletter {
  padding-bottom: 30px;
  font-weight:300;
}

.btn-custom-newsletter {
    color:#FDF7F2;
  background-color:#036B61;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 0px 50px 50px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 15px 30px;
  min-height: 38px;
  border: none;
  text-decoration: none;
  transition: background-color .17s ease,color .17s ease;
  min-width:120px;
}

.newsletter-input {
  border-radius : 50px 0 0 50px;
  border : none;
  padding-left: 20px;
  min-width: 10px;
  min-height: 46px;
}

.list-bloc1 {
  font-weight:300;
  padding-bottom:30px;
  list-style-type: none;
}

.list-bloc1 > li {
  padding-bottom:5px;
}

.subtext-bloc1 {
  color: white;
}



.form-suppliers {
  background-color: #F2EADA;
  padding: 40px;
  border-radius:50px;
}

.input-form-suppliers {
  border-radius: 50px;
  border : none;
  height: 45px;
  padding-left: 15px;
  width: 100%;
}

.background-showcase {
  background-color:#F2EADA;
  padding-top: 40px;
  padding-bottom:40px;
}

.img-bloc-showcase {
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-bloc2 {
  font-size:60px;
  line-height:1.1em;
  font-weight:700;
  margin-bottom:60px;
  text-align:center;
}

.form-popup-bg {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.form-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 10000;
}
.form-popup-bg.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.form-container {
    background-color: #F2EADA;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  padding: 40px;
  color: black;
}
.close-button {
  background:none;
  color: black;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border :none;
}

.form-popup-bg:before{
    content:'';
    background-color: #fff;
  opacity: .25;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-control1 {
  border-radius : 50px 0 0 50px;
  border : none;
  padding-left: 20px;
}

.number-suppliers {
  color:#036b61;
  font-weight:700;
  top: 20%;
  position:relative;
  font-size:32;
}

.padding-right-suppliers-bloc1 {
  padding-right:40px;
}

.many-more {
  width: 50px;
}

.card-custom-suppliers-launch {
  background-color :#036B61;
  height: 100%;
  width: 100%;
  padding: 25 25 35 25;
  border-radius: 50px;
  position:relative;
  color:white;
}

.flex-even {
  flex: 1;
}

.btn-custom-newsletter:hover {
  color:#FDF7F2;
  background-color: #00544b;
}
